{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="px-4 py-5 my-5 text-center shadow-custom">
        <h1 class="display-5 fw-bold  text-white">About Fashion Sense</h1>
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-white">Fashion Sense is a web-based platform dedicated to promoting <b>sustainable fashion</b> and redefining the way we interact with our clothing. In a world dominated by fast fashion and excessive waste, we empower individuals to <b>reimagine, repurpose, and reinvent</b> their wardrobes instead of discarding clothes.  </p>

        </div>
    </div>
    <div class="row align-items-md-stretch mb-3">
        <div class="col-md-6">
            <div class="h-100 p-5 rounded-3 shadow-custom position-relative">
                <img src="/static/site/hand-in-hand.jpg" alt="Your Image" class="img-fluid w-100 h-30 object-fit-cover" />
            </div>
        </div>
        <div class="col-md-6">
        <div class="h-100 p-5 rounded-3 text-white shadow-custom">
            <p class="lead mb-4 text-white">Our mission is to <b>reduce fabric waste, promote ethical fashion, and encourage conscious consumerism</b>. We believe that sustainability and style can go hand in hand. Through our platform, users can explore innovative ways to modify old garments, create unique designs, and make responsible fashion choices—without compromising on self-expression.</p>            
            <p class="lead mb-4 text-white">At Fashion Sense, we provide the <b>tools, knowledge, and inspiration</b> needed to embrace slow fashion. Whether it's upcycling, redesigning, or learning about sustainable practices, we help fashion lovers take meaningful steps toward a greener future.  </p>            
            <p class="lead mb-4 text-white"><b>Join us in reshaping fashion—one outfit at a time.</b> Let’s make sustainability the new standard in style. Together, we can create a movement that values creativity, individuality, and responsibility. Every small change adds up, and with Fashion Sense, you can be part of a global shift toward a more ethical and eco-friendly fashion industry. </p>            

        </div>
        </div>
    </div>
</div>
{% endblock %}